@model CMCS.Mvc.Models.Claim
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Submit Claim</h3>
@if (TempData["error"] != null)
{
     <div class="alert alert-danger">@TempData["error"]</div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data" class="row g-3 mt-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-md-6">
        <label class="form-label">Lecturer</label>
        <select asp-for="LecturerId" asp-items="ViewBag.Lecturers" class="form-select"></select>
        <span asp-validation-for="LecturerId" class="text-danger"></span>
    </div>


    <div class="col-md-4">
        <label class="form-label">Month</label>
        <select asp-for="Month" class="form-select">
            @foreach (var m in (List<string>)ViewBag.Months)
            {
                <option>@m</option>
            }
        </select>
        <span asp-validation-for="Month" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label class="form-label">Hourly Rate (R)</label>
        <input asp-for="HourlyRate" class="form-control" />
        <span asp-validation-for="HourlyRate" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label class="form-label">Hours Worked</label>
        <input asp-for="HoursWorked" class="form-control" />
        <span asp-validation-for="HoursWorked" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="2"></textarea>
    </div>

    <div class="col-md-6">
        <label class="form-label">Supporting Doc 1</label>
        <input type="file" name="upload1" class="form-control" />
    </div>
    <div class="col-md-6">
        <label class="form-label">Supporting Doc 2 (optional)</label>
        <input type="file" name="upload2" class="form-control" />
    </div>

    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
 }
